<%= link_to "All events", events_path %><br>
<% if user_signed_in? %>
  <%= link_to "Create new event", new_event_path%><br>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
<% else %>
  <p><%= link_to "Sign In", new_user_session_path %> to create or participate in events</p>
<% end%>

<h2>All events created by <%= @user.name %>:</h2><br>

<ul>
<% for event in @user.events %>
  <li>
    <h3><%= event.name %></h3>
    <p>At <%= event.location %> - <%= event.date %></p>
    <%= link_to "Check it out", event_path(event)%>
  </li>
<% end %>
</ul>