<%= link_to "All events", events_path %><br>
<% if user_signed_in? %>
  <%= link_to "Create new event", new_event_path%><br>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
<% else %>
  <p><%= link_to "Sign In", new_user_session_path %> to create or participate in events</p>
<% end%>

<h2>All events created by <%= @user.name %>:</h2><br>
<%= render partial: "events/event_list", locals: {events: @user.events} %>

<h2>All events attended by <%= @user.name %>:</h2>
<%= render partial: "events/event_list", locals: {events: @user.event_attendeds} %>