<%= link_to "All events", events_path %><br>
<% if user_signed_in? %>
  <%= link_to "Your events", user_path(current_user)%>
  <% unless @event.attendees.include? current_user %>
    <%= form_with model: SignUp.new do |signup| %>
      <%= signup.hidden_field :event_attended_id, value: @event.id %>
      <%= signup.submit "Join event" %>
    <% end %>
  <% end %>
<% end %>

<h3><%= @event.name %> - by <%= @event.creator.name %></h3>
<p>At <%= @event.location %> - <%= @event.date %></p>

<% if @event.attendees.any? %>
  <h4>List of participants:</h4>
  <ul>
    <% for attendee in @event.attendees %>
    <li>
      <%= attendee.name %>
    </li>
    <% end %>
  </ul>
<% end %>